<%- include ('partials/header.ejs') %>
<body>
    
<%- include ('partials/navbar.ejs') %>
    
   
    
    <div class="container">
        
        <hr>
        <h1><%= pergunta.titulo %></h1>
        <p><%= pergunta.descricao %></p>
        <hr>
          
        <form action="">
            <h3 class="mb-3">Responda</h3>
            <textarea name="corpo" placeholder="Digite sua resposta" class="form-control mb-2"></textarea>
            <button type="submit" class="btn btn-primary">Responder</button>
        </form>
    
    </div>
   
</body>
<%- include ('partials/footer.ejs') %>